node_modules/
dist/
.astro/
data.db
*.log
.DS_Store
.env
.env.local
.env.*.local
.vercel

cleanup-secrets.sh
MCP-deploy.zip
MCP-centeredDB.zip
MCP-multiDB.zip

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
